In [1]:
print("Hello, World!")

Hello, World!

In [3]:
a=10
b=5
c=a+b
print(c)

15

In [4]:
my_var=3
print(type(my_var))

<class 'int'>

In [6]:
my@var=3.0 # This will cause a syntax error due to the '@' character
print(type(my_var))

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2740915316.py, line 1)

In [7]:
2my_var=3 # This will cause a syntax error because variable names cannot start with a digit
print(type(my_var))

SyntaxError: invalid decimal literal (1522657719.py, line 1)

In [ ]:
my_var=10+12j# This is a complex number
print(type(my_var))

<class 'complex'>

In [10]:
my_num=4.958e9 # This is scientific notation for 4.958 * 10^9
print(my_num) 
print(type(my_num))

4958000000.0
<class 'float'>

In [14]:
a=10
print(type(a))
print(a)

b=float(a) # Convert integer to float(Casting)
print(type(b))
print(b)

<class 'int'>
10
<class 'float'>
10.0

In [15]:
c=7.3
d=int(c) # Convert float to integer(Casting)
print(type(d))  
print(d)

<class 'int'>
7

In [16]:
my_list = [1, 2, 3, 4, 5]
print(type(my_list))    
print(my_list)

<class 'list'>
[1, 2, 3, 4, 5]

In [17]:
my_list = [1, 2, 3, 4, 5]#python Lists are ordered, changeable, and allow duplicate values.
print(my_list[0])  # Accessing the first element
print(my_list[2])  # Accessing the third element

1
3

In [18]:
x=5
print(id(x)) # prints the memory address of variable x
x=10
print(id(x)) # prints the memory address of variable x after reassignment

140731368919976
140731368920136

In [ ]:
my_list = [1, 2, 3, 4, 5]#python List are Mutable
print(id(my_list))  # Print the memory address of the list

my_list[0] = 10  # Modifying the first element
print(my_list)  # Print the modified list
print(id(my_list))  # Print the memory address of the list after modification

2283761775104
[10, 2, 3, 4, 5]
2283761775104

In [20]:
#Python Lists allow duplicate values
my_list = [1, 2, 3, 4, 5, 3, 2, 1]
print(my_list)  # Print the list with duplicate values
print(type(my_list))  # Print the type of my_list

[1, 2, 3, 4, 5, 3, 2, 1]
<class 'list'>

In [21]:
#Allow different data types
my_list = [1, "Hello", 3.14, True]
print(my_list)  # Print the list with different data types
print(type(my_list))  # Print the type of my_list

[1, 'Hello', 3.14, True]
<class 'list'>

In [22]:
#Length of the list
my_list = [1, 2, 3, 4, 5]
print(len(my_list))  # Print the length of the list
print(type(my_list))  # Print the type of my_list

5
<class 'list'>

In [ ]:
#Access Range of elements
my_list = [1, 2, 3, 4, 5]
print(my_list[1:4])  # Print elements from index 1 to 3 [Start inex : End index+1]-->[1:3+1]
print(type(my_list))  # Print the type of my_list

[2, 3, 4]
<class 'list'>

In [24]:
my_list = [1, 2, 3, 4, 5,6,7,8,9,10]
print(my_list[2:]) # Print elements from index 2 to the end

[3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
my_list = [1, 2, 3, 4, 5,6,7,8,9,10]
print(my_list[:5]) # Print elements from the start to index 4

[1, 2, 3, 4, 5]

In [ ]:
#Negative Indexing
my_list = [1, 2, 3, 4, 5]#[-5 to -1]------------ Python Lists support negative indexing
print(my_list[-1])  # Print the last element
print(my_list[-3])  # Print the third last element

5
3

In [29]:
#Update Range of elements
my_list = [10,8,9,15,20,18,26]
print(my_list)  # Print the original list
my_list[2:5] = [90, 60, 80]  # Update elements from index 2 to 4
print(my_list)  # Print the updated list

[10, 8, 9, 15, 20, 18, 26]
[10, 8, 90, 60, 80, 18, 26]

In [ ]:
#Insert elements to Mid--- using insert() method
my_list = [1, 2, 3, 4, 5]   
print(my_list)  # Print the original list
my_list.insert(2, 10)  # Insert 10 at index 2
print(my_list)  # Print the updated list

[1, 2, 3, 4, 5]
[1, 2, 10, 3, 4, 5]

In [31]:
#Insert elements using append() method
my_list = [1, 2, 3, 4, 5]   
print(my_list)  # Print the original list
my_list.append(6)  # Append 6 to the end of the list
print(my_list)  # Print the updated list

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [32]:
#Remove element using remove() method
my_list = ["Cat", "Dog", "Elephant", "Tiger", "Lion"]
print(my_list)  # Print the original list
my_list.remove("Elephant")  # Remove "Elephant" from the list
print(my_list)  # Print the updated list

['Cat', 'Dog', 'Elephant', 'Tiger', 'Lion']
['Cat', 'Dog', 'Tiger', 'Lion']

In [ ]:
# Same element multiple times
my_list = ["Cat", "Dog", "Elephant", "Tiger", "Lion","Dog"] 
print(my_list)  # Print the original list
my_list.remove("Dog")  # Remove "Dog" from the list (removes the first occurrence)
print(my_list)  # Print the updated list

['Cat', 'Dog', 'Elephant', 'Tiger', 'Lion', 'Dog']
['Cat', 'Elephant', 'Tiger', 'Lion', 'Dog']

In [34]:
#Remove and return the last element using pop() method
my_list = ["Cat", "Dog", "Elephant", "Tiger", "Lion","Dog"] 
print(my_list)  # Print the original list
removed_element = my_list.pop(2)  # Remove and return the element at index 2
print("Removed Element:", removed_element)  # Print the removed element
print(my_list)  # Print the updated list

['Cat', 'Dog', 'Elephant', 'Tiger', 'Lion', 'Dog']
Removed Element: Elephant
['Cat', 'Dog', 'Tiger', 'Lion', 'Dog']

In [ ]:
#Remove elemet using del keyword
my_list = ["Cat", "Dog", "Elephant", "Tiger", "Lion","Dog"]
print(my_list)  # Print the original list
del my_list[1]  # Delete the element at index 1 ("Dog")
print(my_list)  # Print the updated list

['Cat', 'Dog', 'Elephant', 'Tiger', 'Lion', 'Dog']
['Cat', 'Elephant', 'Tiger', 'Lion', 'Dog']

In [ ]:
#Remove List using del keyword
my_list = ["Cat", "Dog", "Elephant", "Tiger", "Lion","Dog"]
print(my_list)  # Print the original list
del my_list  # Delete the entire list
#print(my_list)  # This will raise an error because my_list is deleted

['Cat', 'Dog', 'Elephant', 'Tiger', 'Lion', 'Dog']

NameError: name 'my_list' is not defined

In [ ]:
#Remove elements using clear() method
my_list = ["Cat", "Dog", "Elephant", "Tiger", "Lion","Dog"]
print(my_list)  # Print the original list
print(len(my_list))  # Print the length of the original list

my_list.clear()  # Clear all elements from the list
print(my_list)  # Print the empty list
print(len(my_list))  # Print the length of the empty list

['Cat', 'Dog', 'Elephant', 'Tiger', 'Lion', 'Dog']
6
[]
0

In [42]:
#Sort the list using sort() method
my_list = ["Cat", "Dog", "Elephant", "Tiger", "Lion","Dog"]
print(my_list)  # Print the original list
my_list.sort()  # Sort the list in ascending order  
print(my_list)  # Print the sorted list

['Cat', 'Dog', 'Elephant', 'Tiger', 'Lion', 'Dog']
['Cat', 'Dog', 'Dog', 'Elephant', 'Lion', 'Tiger']

In [43]:
my_list=["apple",32,"rat","Grapes","rabbit"]
print(my_list)  # Print the original list
my_list.sort()  # This will raise an error because the list contains different data types

['apple', 32, 'rat', 'Grapes', 'rabbit']

TypeError: '<' not supported between instances of 'int' and 'str'

In [44]:
my_list=["apple","32","rat","Grapes","rabbit"]
print(my_list)  # Print the original list
my_list.sort()  # Sort the list in ascending order
print(my_list)  # Print the sorted list

['apple', '32', 'rat', 'Grapes', 'rabbit']
['32', 'Grapes', 'apple', 'rabbit', 'rat']

In [45]:
#Sort Descending order
my_list = ["Cat", "Dog", "Elephant", "Tiger", "Lion","Dog"]
print(my_list)  # Print the original list
my_list.sort(reverse=True)  # Sort the list in descending order
print(my_list)  # Print the sorted list

['Cat', 'Dog', 'Elephant', 'Tiger', 'Lion', 'Dog']
['Tiger', 'Lion', 'Elephant', 'Dog', 'Dog', 'Cat']

In [46]:
#Reverse the list using reverse() method
my_list = ["Cat", "Dog", "Elephant", "Tiger", "Lion","Dog"]
print(my_list)  # Print the original list
my_list.reverse()  # Reverse the order of the list
print(my_list)  # Print the reversed list

['Cat', 'Dog', 'Elephant', 'Tiger', 'Lion', 'Dog']
['Dog', 'Lion', 'Tiger', 'Elephant', 'Dog', 'Cat']

In [1]:
#Copy the list using copy() method
my_list = ["Cat", "Dog", "Elephant", "Tiger", "Lion","Dog"]
print(my_list)  # Print the original list

new_list = my_list.copy()  # Create a copy of the list
print(new_list)  # Print the copied list

print("my_list:",id(my_list))  # Print the memory address of the original list
print("new_list:",id(new_list))  # Print the memory address of the copied list

my_list[0] = "Monkey"  # Modify the first element of the original list
print("After modification:")
print("my_list:",my_list)  # Print the original list after modification
print("new_list:",new_list)  # Print the new_list after modification

['Cat', 'Dog', 'Elephant', 'Tiger', 'Lion', 'Dog']
['Cat', 'Dog', 'Elephant', 'Tiger', 'Lion', 'Dog']
my_list: 2641547167360
new_list: 2641547019840
After modification:
my_list: ['Monkey', 'Dog', 'Elephant', 'Tiger', 'Lion', 'Dog']
new_list: ['Cat', 'Dog', 'Elephant', 'Tiger', 'Lion', 'Dog']

In [ ]:
#Assigning a list to another variable creates a reference to the same list, not a copy
my_list=["Cat", "Dog", "Elephant", "Tiger", "Lion","Dog"]

new_list=my_list # This creates a reference to the same list, not a copy
print("my_list:",id(my_list))  # Print the memory address of the original list
print("new_list:",id(new_list))  # Print the memory address of the new_list

new_list[0]="Monkey"
print("my_list:",my_list)  # Print the original list after modification
print("new_list:",new_list)  # Print the new_list after modification

my_list: 2283762185088
new_list: 2283762185088
my_list: ['Monkey', 'Dog', 'Elephant', 'Tiger', 'Lion', 'Dog']
new_list: ['Monkey', 'Dog', 'Elephant', 'Tiger', 'Lion', 'Dog']

In [51]:
#Joining two lists using + operator
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2  # Join the two lists
print(combined_list)  # Print the combined list

[1, 2, 3, 4, 5, 6]

In [2]:
#Extend a list using extend() method
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)  # Extend list1 by appending elements from list2
print(list1)  # Print the extended list1
print(list2)  # Print list2 to show it remains unchanged

[1, 2, 3, 4, 5, 6]
[4, 5, 6]