In [ ]:
#Tuples

sports=("Football","Cricket","Hockey","Tennis")#Tuple is immutable
print(sports)#
print(type(sports))

('Football', 'Cricket', 'Hockey', 'Tennis')
<class 'tuple'>

In [3]:
#Tuples are not changeable
sports[1]="Baseball"#This will give error

TypeError: 'tuple' object does not support item assignment

In [4]:
#python typles are ordered
print(sports[0])#Football

Football

In [5]:
#tuples allow duplicate values
sports=("Football","Cricket","Hockey","Tennis","Football")  
print(sports)#('Football', 'Cricket', 'Hockey', 'Tennis', 'Football')

('Football', 'Cricket', 'Hockey', 'Tennis', 'Football')

In [ ]:
#different between list and tuple
#List is mutable and Tuples are immutable--> List can be changed and Tuples cannot be changed
#List is defined using [] and Tuples is defined using ()
#List is slower than Tuples
#List is used to store similar items and Tuples is used to store different items
#List consumes more memory and Tuples consumes less memory
#List have many built-in methods and Tuples have less built-in methods

#Examples
#To store lattitude and longitude of a location
location=(19.0760,72.8777)#Tuple is used because lattitude and longitude are different items and they are not going to change
print(location) #(19.076, 72.8777)

(19.076, 72.8777)

In [ ]:
#List is mutable and Tuples are immutable--> List can be changed and Tuples cannot be changed
sports_list=["Football","Cricket","Hockey","Tennis"]
sports_tuple=("Football","Cricket","Hockey","Tennis")
sports_list[1]="Baseball"#This will work
print(sports_list) #['Football', 'Baseball', 'Hockey', 'Tennis']
sports_tuple[1]="Baseball"#This will give error
print(sports_tuple) #('Football', 'Cricket', 'Hockey', 'Tennis')

['Football', 'Baseball', 'Hockey', 'Tennis']

TypeError: 'tuple' object does not support item assignment

In [8]:
#Tuple length
sports=("Football","Cricket","Hockey","Tennis")
print(len(sports))#4

4

In [9]:
#Tuple with one item
sports=("Football",)#This is a tuple with one item
print(type(sports))#<class 'tuple'>

sports=("Football")#This is not a tuple, this is a string
print(type(sports))#<class 'str'>
#To create a tuple with one item, you need to add a comma after the item

<class 'tuple'>
<class 'str'>

In [11]:
#Can be of different data types
my_tuple=(1,"Hello",3.4,True)
print(my_tuple) #(1, 'Hello', 3.4, True)
print(type(my_tuple))#<class 'tuple'>

#Lists and tuples both can store different data types

(1, 'Hello', 3.4, True)
<class 'tuple'>

In [12]:
#negative indexing
sports=("Football","Cricket","Hockey","Tennis")
print(sports[-1])#Tennis
print(sports[-2])#Hockey

Tennis
Hockey

In [ ]:
#Index range
sports=("Football","Cricket","Hockey","Tennis")
print(sports[1:3])#('Cricket', 'Hockey') #It will print from index 1 to index 2

('Cricket', 'Hockey')

In [ ]:
#Tuples cant be changed but we can convert tuple to list and then change the list and then convert it back to tuple
sports=("Football","Cricket","Hockey","Tennis")

sports_list=list(sports)#Convert tuple to list --> This is list constructor
sports_list[1]="Baseball"#Change the list

sports=tuple(sports_list)#Convert list back to tuple---> This is tuple constructor
print(sports) #('Football', 'Baseball', 'Hockey', 'Tennis')
#Now the tuple is changed
#This is a workaround to change a tuple
#But it is not recommended to change a tuple, if you need to change the data, use a list instead of a tuple

In [ ]:
#Nested tuples
sports=(("Football","Cricket"),("Hockey","Tennis"))
print(sports) #(('Football', 'Cricket'), ('Hockey', 'Tennis'))
print(type(sports))#<class 'tuple'>

print(sports[0])#('Football', 'Cricket')#  First nested tuple
print(sports[0][1])#Cricket#   First index is for the outer tuple and second index is for the inner tuple

(('Football', 'Cricket'), ('Hockey', 'Tennis'))
<class 'tuple'>
('Football', 'Cricket')
Cricket

In [16]:
#-------------------------------Python Sets------------------------------
#Sets are unordered collection of unique items
sports_set = {"Football", "Cricket", "Hockey", "Tennis"}#---> Set is defined using {}
print(sports_set) #{'Hockey', 'Cricket', 'Football', 'Tennis'}
print(type(sports_set))#<class 'set'>
#Sets are unordered, so the items may appear in a different order

#Cannot access items in a set using index
print(sports_set[0])#This will give error
#Sets are unordered, so you cannot access items using index

{'Cricket', 'Football', 'Hockey', 'Tennis'}
<class 'set'>

TypeError: 'set' object is not subscriptable

In [17]:
#Sets are unchangeable, but you can add items to a set
sports_set = {"Football", "Cricket", "Hockey", "Tennis"}
sports_set.add("Baseball")#Add item to set
print(sports_set) #{'Hockey', 'Cricket', 'Football', 'Tennis', 'Baseball'}
# Excisting items cannot be changed, but new items can be added

{'Tennis', 'Hockey', 'Baseball', 'Cricket', 'Football'}

In [18]:
#Sets are mutable, you can add or remove items from a set
sports_set.add("Baseball")#Add item to set
sports_set.remove("Cricket")#Remove item from set
print(sports_set) #{'Hockey', 'Football', 'Tennis', 'Baseball'}

{'Tennis', 'Hockey', 'Baseball', 'Football'}

In [ ]:
#Lists and tuples can have duplicate values, but sets cannot have duplicate values
sports_set = {"Football", "Cricket", "Hockey", "Tennis", "Football"}#Duplicate value-->No error
print(sports_set) #{'Hockey', 'Cricket', 'Football', 'Tennis'}#Duplicate value is removed-->Set only stores unique items
#Sets are used to store unique items

#Sets are unordered, so the items may appear in a different order
#Sets are not indexed, so you cannot access items using index

{'Cricket', 'Football', 'Hockey', 'Tennis'}

In [20]:
#Length of set
sports_set = {"Football", "Cricket", "Hockey", "Tennis"}
print(len(sports_set))#4
#Length of set is 4, because there are 4 unique items in the set

4

In [21]:
#add and remove items from set
sports_set = {"Football", "Cricket", "Hockey", "Tennis"}
sports_set.add("Baseball")#Add item to set
sports_set.remove("Cricket")#Remove item from set
print(sports_set) #{'Hockey', 'Football', 'Tennis', 'Baseball'}

{'Tennis', 'Hockey', 'Baseball', 'Football'}

In [ ]:
#Add multiple items to set using update() method
sports_set = {"Football", "Cricket", "Hockey", "Tennis"}
sports_set.update(["Baseball", "Rugby"])#Add multiple items to set
print(sports_set) #{'Hockey', 'Cricket', 'Football', 'Tennis', 'Baseball', 'Rugby'}
#You can add any iterable (list, tuple, dictionary) using update() method
#You cannot add a single item using update() method, use add() method to add a single item

{'Tennis', 'Hockey', 'Baseball', 'Cricket', 'Football', 'Rugby'}

In [25]:
#------------------------------------Python Range------------------------------
#Range is a sequence of numbers, it is used to generate a sequence of numbers
#You can specify the start, end, and step values
#Syntax: range(start, end, step)

#By default, start is 0 and step is 1
#3,7,11,15,19,23
range_1 = range(3, 24, 4)#Start from 3, end at 23(24-1), step is 4
print(range_1) #range(3, 24, 4)
print(type(range_1))#<class 'range'>


#Print
print (range_1[0])  #3
print (range_1[1])  #7  
print (range_1[2])  #11
print (range_1[3])  #15
print (range_1[4])  #19
print (range_1[5])  #23

range(3, 24, 4)
<class 'range'>
3
7
11
15
19
23

In [27]:
range_1=range(2,7)#Start from 2, end at 6(7-1), step is 1
print(range_1) #range(2, 7)
print(range_1[0]) #2
print(range_1[1]) #3
print(range_1[2]) #4
print(range_1[3]) #5
print(range_1[4]) #6
#print(range_1[5]) #This will give error, because there is no index 5

range_2=range(6)#Start from 0, end at 5(6-1), step is 1
print(range_2) #range(0, 6)
print(range_2[0]) #0
print(range_2[1]) #1
print(range_2[2]) #2
print(range_2[3]) #3
print(range_2[4]) #4
print(range_2[5]) #5
#print(range_2[6]) #This will give error, because there is no index 6

range(2, 7)
2
3
4
5
6
range(0, 6)
0
1
2
3
4
5

In [ ]:
#------------------------------------Python Dictionaries------------------------------
#Dictionaries are used to store data values in key:value pairs
#Dictionaries are ordered, changeable, and indexed--> As of Python version 3.7, dictionaries are ordered(items have keys and values are in the order they were added)

#Dictionaries are written with curly brackets, and have keys and values
#Syntax: dictionary_name = {key1:value1, key2:value2, key3:value3}

#Example
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(my_dict) #{'name': 'John', 'age': 30, 'city': 'New York'}
print(type(my_dict))#<class 'dict'>

{'name': 'John', 'age': 30, 'city': 'New York'}
<class 'dict'>

In [ ]:
#Dictionaries are indexed, you can access items using keys
#items have keys and values are in the order they were added

print(my_dict["name"]) #John
print(my_dict["age"])  #30
print(my_dict["city"]) #New York

John
30
New York

In [30]:
#Dictionaries are changeable, you can change, add, and remove items in a dictionary-->Dictionaries are mutable
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

#Update value
my_dict["age"] = 31 #Change age from 30 to 31
print(my_dict) #{'name': 'John', 'age': 31, 'city': 'New York'}

{'name': 'John', 'age': 31, 'city': 'New York'}

In [31]:
#Duplicate keys are not allowed, if you try to add a duplicate key, the value will be updated
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "age": 31 #Duplicate key, value will be updated
}
print(my_dict) #{'name': 'John', 'age': 31, 'city': 'New York'}
#The age key is duplicated, so the value is updated to 31

{'name': 'John', 'age': 31, 'city': 'New York'}

In [32]:
#Dictionaries values can be of any data type
my_dict = {
    "name": "John", #String
    "age": 30,     #Integer
    "height": 5.9, #Float
    "is_student": False, #Boolean
    "courses": ["Math", "Science"], #List
    "address": { #Nested Dictionary
        "street": "123 Main St",
        "city": "New York"
    }
}
print(my_dict)

{'name': 'John', 'age': 30, 'height': 5.9, 'is_student': False, 'courses': ['Math', 'Science'], 'address': {'street': '123 Main St', 'city': 'New York'}}

In [34]:
#Dictionaries Keys are immutable
#You can use strings, numbers, or tuples as dictionary keys
#You cannot use lists or other dictionaries as dictionary keys bcs they are mutable
#Example
my_dict = {
    "name": "John", #String key
    1: "One",      #Integer key
    (2, 3): "Tuple" ,#Tuple key
    1.5: "Float", #Float key
    True: "Boolean", #Boolean key
    #[4, 5]: "List" #This will give error, because list is mutable
    #{"key": "value"}: "Dictionary" #This will give error, because dictionary is mutable
}
print(my_dict) #{'name': 'John', 1: 'One', (2, 3): 'Tuple', 1.5: 'Float', True: 'Boolean'}
print(type(my_dict))#<class 'dict'>

{'name': 'John', 1: 'Boolean', (2, 3): 'Tuple', 1.5: 'Float'}
<class 'dict'>

In [ ]:
#get() method to access items
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(my_dict.get("name")) #John
print(my_dict.get("age"))  #30
#Advantage of get() method is that it will not give error if the key does not exist, it will return None
print(my_dict.get("country")) #None, because country key does not exist

#set default value using get() method
print(my_dict.get("country", "USA")) #USA, because country key does not exist, so it returns the default value
#If the key exists, it will return the value

John
30
None
USA

In [ ]:
#Update() method to update dictionary
my_dict = {
    "name": "Sugar",
    "weight": "1kg",
    "price": 130.35
}
#Update weight to 2kg and print_date as 2023-10-01
my_dict.update({"weight": "2kg", "print_date": "2023-10-01"})# Update weight and add print_date using dictionary
print(my_dict) #{'name': 'Sugar', 'weight': '2kg', 'price': 130.35, 'print_date': '2023-10-01'}
#If the key exists, the value will be updated, if the key does not exist, the key:value pair will be added

{'name': 'Sugar', 'weight': '2kg', 'price': 130.35, 'print_date': '2023-10-01'}

In [38]:
#use pop(),del and clear() method to remove items from dictionary
my_dict = {
    "name": "Sugar",
    "weight": "1kg",
    "price": 130.35
}
#Remove price using pop() method
my_dict.pop("price")#Remove price using pop() method
print(my_dict) #{'name': 'Sugar', 'weight': '1kg'}

#Remove weight using del keyword
del my_dict["weight"]#Remove weight using del keyword
print(my_dict) #{'name': 'Sugar'}

#Clear all items using clear() method
my_dict.clear()#Clear all items using clear() method
print(my_dict) #{}#Empty dictionary

{'name': 'Sugar', 'weight': '1kg'}
{'name': 'Sugar'}
{}

In [42]:
#--------------------------------Operators in Python------------------------------


product_ids = [101, 102, 103, 104]
#copy list to the set
product_ids_set = set(product_ids)

has_duplicates = len(product_ids) != len(set(product_ids))#Check if there are duplicates in the list
print("Has duplicates:", has_duplicates) #False, because there are no duplicates in the list

Has duplicates: False

In [43]:
#Identical operator (is, is not)
x=5
y=6
print(x is y) #False, because x is not equal to y
print(x is not y) #True, because x is not equal to y

False
True

In [1]:
x=5# -5 to 256 are small values already in a pool in python memory so they point to the same object in memory
y=5
print(x is y) #True, because x is equal to y
print(x is not y) #False, because x is equal to y
#The 'is' operator checks if both variables point to the same object in memory, not just if they are equal.
#For small integers and strings, Python caches the objects, so 'is' may return True for equal values.

# -5 to 256 are small values already in a pool in python memory so they point to the same object in memory
#For larger integers and other data types, 'is' may return False even if the values are equal, because they are different objects in memory.

True
False

In [ ]:
#Membership operators (in, not in)
#Check if an item is in a list or not
my_list = [6,9,8,10,11]
print(8 in my_list) #True, because 8 is in the list
print(5 in my_list) #False, because 5 is not in the list

print(5 not in my_list) #True, because 5 is not in the list
print(8 not in my_list) #False, because 8 is in the list

True
False
True
False

In [ ]:
#Bitwise operators (&, |, ^, ~, <<, >>)
#Bitwise operators are used to perform bit-level operations on integers

#Example of Bitwise AND operator (&)
x=5  # In binary:  0101
y=10 # In binary: 1010
z= x & y # Bitwise AND --> 0000

print(z) #0
#Explanation: 0101 & 1010 = 0000 (5 AND 10 = 0)

0

In [49]:
#Bitwise OR operator (|)
x=5  # In binary:  0101 
y=10 # In binary: 1010
z= x | y # Bitwise OR --> 1111
print(z) #15
#Explanation: 0101 | 1010 = 1111 (5 OR 10 = 15)-->1+2+4+8=15

15

In [ ]:
#---------------------------------------------Control Flow Statements in Python---------------------------------
#Control flow statements are used to control the flow of execution of the program

#If statement
#Syntax:
# if condition:
#     #code to be executed if condition is true

#Example
n = 10
if n % 2 == 0: #Check if n is even
    print(n,"is even") #10 is even
    #If statement checks if the condition is true, if it is true, the code inside the if block is executed
    #If the condition is false, the code inside the if block is skipped

#Out of if block
print("Out of if block") #Out of if block

10 is even
Out of if block

In [57]:
#Calculate the circumference of a circle if the radius is positive
radius = 5
PI_VALUE = 3.14

if radius > 0: #Check if radius is positive
    circumference = 2 * PI_VALUE * radius #Calculate circumference
    print("Circumference of circle with radius", radius, "is", circumference)

Circumference of circle with radius 5 is 31.400000000000002

In [61]:
#If else statement
#Syntax:
# if condition:
#     #code to be executed if condition is true
# else:
#     #code to be executed if condition is false

#Example
radius = 5
PI_VALUE = 3.14

if radius > 0: #Check if radius is positive
    circumference = 2 * PI_VALUE * radius #Calculate circumference
    print("Circumference of circle with radius", radius, "is", circumference) 
    
else:
    print("Radius cannot be negative or zero")

Circumference of circle with radius 5 is 31.400000000000002

In [65]:
#Calculate the hypotenuse of a right triangle if both base and height are positive
base = 5
height = 12
#Hypotenuse = (base^2 + height^2)^0.5

if base > 0 and height > 0: #Check if both base and height are positive
    hypotenuse = (base**2 + height**2)**0.5 #Calculate hypotenuse using Pythagorean theorem --0.5 is square root
    print("Hypotenuse of right triangle with base", base, "and height", height, "is", hypotenuse)

else:
    print("Base and height cannot be negative or zero")

Hypotenuse of right triangle with base 5 and height 12 is 13.0